{% extends 'layout.html.twig' %}

{% block title %}Edit Job{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a class="mr-2" href="{{ path('company_offers', {'slug': job.getCompany.getSlug}) }}">back to list</a>
        </div>

        <div class="row align-items-center">
            <h1 class="mr-2">Edit Job</h1>
            {{ include('job/_delete_form.html.twig') }}
        </div>

        <div class="row ">
            {{ include('job/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}
