{% extends 'layout.html.twig' %}

{% block title %}Edit Seeker{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Edit Seeker</h1>

        {{ include('seeker/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
