{% extends 'layout.html.twig' %}

{% block title %}New Seeker{% endblock %}

{% block body %}

    <div class="container-fluid">
    
        <h3>Create new profile</h3>

        {{ include('seeker/_form.html.twig') }}

    </div>
    
{% endblock %}
